.main-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 40px 0;
  color: #000;
  letter-spacing: 2px;
  animation: fadeIn 2s ease forwards, flashBlue 10s linear infinite;
}


@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}


@keyframes flashBlue {
  0%, 97%, 100% {
    text-shadow: none;
    color: #000;
  }
  50% {
    text-shadow: 0 0 6px rgba(0, 191, 255, 0.3),
                 0 0 12px rgba(0, 191, 255, 0.2);
    color: #003366; 
  }
}



.card {
  position: relative;
  border: 1px solid rgba(173, 216, 230, 0.6);
  box-shadow: 0 0 4px rgba(173, 216, 230, 0.4), 
              0 0 8px rgba(135, 206, 250, 0.3);
  
}

.card:hover {
  transform: translateY(-6px);
  border: 1px solid rgba(191, 167, 111, 0.6); 
  box-shadow: 0 0 4px rgba(230, 216, 173, 0.4), 
              0 0 8px rgba(191, 167, 111, 0.3);
}

.card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(191,167,111,0.3), rgba(230,216,173,0.2), rgba(191,167,111,0.3));
  background-size: 200% 200%;
  animation: subtleGoldGlow 6s linear infinite;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover::before {
  opacity: 1;
}

@keyframes electricGlow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}


.card-icons{
    display:flex;
    margin-left: 90px;
    gap: 40px
}
.delete-icon{
    margin-top:4px;
    color: red;
    transition: transform 0.2s ease;
    cursor: pointer;
    display: inline-block;
}
.edit-icon{
  transition: transform 0.2s ease;
  cursor: pointer;
  display: inline-block
}
.edit-icon:hover,
.delete-icon:hover {
  transform: scale(1.75);
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0% { transform: scale(1.75) translateX(0); }
  20% { transform: scale(1.75) translateX(-3px); }
  40% { transform: scale(1.75) translateX(3px); }
  60% { transform: scale(1.75) translateX(-3px); }
  80% { transform: scale(1.75) translateX(3px); }
  100% { transform: scale(1.75) translateX(0); }
  
}



@keyframes subtleHeartBeat {
  0%   { transform: scale(1); }
  10%  { transform: scale(1.02); }
  20%  { transform: scale(1); }
  30%  { transform: scale(1.02); }
  40%  { transform: scale(1); }
  100% { transform: scale(1); }
}

.custom-heartbeat {
  display: inline-block;
  animation: subtleHeartBeat 7s ease-in-out infinite;
  animation-delay: 10s; 
}

@keyframes flipGlow {
  0%, 90% {
    transform: rotateY(0deg);
    text-shadow: none;
  }
  95% {
    transform: rotateY(180deg);
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
  }
  100% {
    transform: rotateY(0deg);
    text-shadow: none;
  }
}

.custom-flip {
  
  animation: flipGlow 10s ease-in-out infinite;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}






